html {
	scroll-behavior: smooth;
	width: 100%;
	height: auto;
	min-height: 100svh;
	font-size: 16px;
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", sans-serif;
	color: var(--color-text);
	background: var(--color-bg);
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100svh;
	overflow-x: hidden;
	background-image: url(../images/body/BG_mob.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}
@media screen and (min-width: 1024px) {
	body {
		background-image: url(../images/body/BG_desk.webp);
	}
}

.container {
	position: relative;
	width: 100%;
	min-height: 100svh;
	overflow: hidden;
	z-index: 40;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-left: /* 16px */ 4.1vw;
	padding-right: /* 16px */ 4.1vw;
}
@media screen and (min-width: 1024px) {
	.container {
		padding-top: 80px;
		padding-right: /* 156px */ 10.31vw;
		padding-left: /* 156px */ 10.31vw;
	}
}
@media screen and (min-width: 1512px) {
	.container {
		padding-right: 156px;
		padding-left: 156px;
	}
}

.hidden {
	display: none;
}

/* -----------header--------------- */

.header-logo-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-logo {
	width: /* 231px */59.23vw;
	max-width: 322px;
	height: /* 46px */11.79vw;
	max-height: 64px;
}
@media screen and (min-width: 1024px) {
	.header-logo {
		width: 322px;
		height: 64px;
		margin-bottom: 40px;
	}
}
