.start-btn {
	width: 358px;
	height: 56px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 48px;
	padding-top: 8px;
	padding-right: 48px;
	padding-bottom: 8px;
	padding-left: 48px;
	background: var(--color-bg-btn);
	font-weight: 700;
	font-style: Bold;
	font-size: 30px;
	line-height: 20px;
	letter-spacing: 3px;
	color: var(--color-text);
	cursor: pointer;
	text-transform: uppercase;
	opacity: 0;
	transform: translateY(10px);
	transition:
		opacity 0.4s ease,
		transform 0.4s ease;
		box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
		margin-bottom: 290px;
}
@media screen and (min-width: 1024px) {
	.start-btn {
	width: 450px;
	height: 70px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 60px;
	padding-top: 19px;
	padding-right: 80px;
	padding-bottom: 19px;
	padding-left: 80px;
	background: var(--color-bg-btn);
	font-size: 42px;
	line-height: 32px;
	letter-spacing: 4px;
}
}

.start-btn:not(.hidden) {
	opacity: 1;
	transform: translateY(0);
}

.chat-icon {
	height: 32px;
	margin-bottom: 20px;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.4s ease, transform 0.4s ease;
}
@media screen and (min-width: 1024px) {
	.chat-icon {
	height: 32px;
	margin-top: 16px;
	margin-bottom: 40px;
}
}
.chat-icon:not(.hidden) {
	opacity: 1;
	transform: translateY(0);
}