.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(33, 33, 33, 0.8);
	backdrop-filter: blur(20px);
	visibility: visible;
	overflow: hidden;
	transition-property: opacity, visibility;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
	opacity: 1;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.4);
}

.modal {
	width: 100%;
	max-width: 390px;
	height: 100vh;
	max-height: 720px;
	background: var(--color-bg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition:
		transform 250ms ease-in-out,
		scale 250ms ease-in-out;
	overflow: hidden;
	z-index: 100;
}

@media screen and (min-width: 391px) {
	.modal {
		border-radius: 28px;
		border: 1px solid rgba(255, 255, 255, 0.16);
	}
}

@media screen and (min-width: 1024px) {
	.modal {
		max-width: 480px;
		max-height: 598px;
		border-radius: 32px;

	}
}

/* ------------header--------------- */

.modal-header {
	position: relative;
	width: 100%;
	/* height: 192px; */
	padding-left: 24px;
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 16px;
	background-image: url(../images/form/Popup_Header_mob.webp);
	background-repeat: no-repeat;
	background-size: 390px 196px;
	background-position: center;
	opacity: 1;
}

@media screen and (min-width: 1024px) {
	.modal-header {
		background-image: url(../images/form/popup_header.webp);
		background-size: cover;
		background-position: center;
	}
}

.header-modal {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 25;
	margin-bottom: 16px;
}

.modal-logo {
	width: 209px;
	height: 38px;
	background-image: url(../images/header/GPT.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
}

/* .modal-close {
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 12px;
	overflow: hidden;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(16px);
}
.icon-close {
	width: 14px;
	height: 14px;
} */
.modal-title {
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	width: 278px;
}
@media screen and (min-width: 1024px) {
	.modal-title {
		width: 290px;
		font-size: 24px;
		line-height: 28px;
	}
}

.modal-title-wrap {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

.modal-title-accent {
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--color-modal-text-accent);
}
@media screen and (min-width: 1024px) {
	.modal-title-accent {
		font-size: 24px;
		line-height: 28px;
	}
}

.accent {
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;
	line-height: 26px;
	text-transform: uppercase;
	color: var(--color-modal-text-accent);
}
@media screen and (min-width: 1024px) {
	.accent {
		font-size: 32px;
	}
}

.modal-text {
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 16px;
	text-transform: lowercase;
}
@media screen and (min-width: 1024px) {
	.modal-text {
		font-size: 18px;
		line-height: 22px;
	}
}

.text-wrap {
	display: flex;
	gap: 4px;
}

.modal-text-weight {
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: lowercase;
}
@media screen and (min-width: 1024px) {
	.modal-text-weight {
		font-size: 18px;
		line-height: 22px;
	}
}

/* --------contetn---------------- */
.modal-content {
	width: 100%;
	padding-left: 24px;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
}

.email-wrap {
	position: relative;
	width: 100%;
}

.password-wrap {
	position: relative;
	width: 100%;
}

.modal-label {
	position: relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	height: 76px;
	color: rgba(255, 255, 255, 1);
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;
}

.modal-input {
	width: 100%;
	height: 48px;
	border-radius: 12px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.24);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: rgba(255, 255, 255, 1);
	padding-left: 44px;
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
	outline: none;
	transition: border-color 0.3s ease-in-out;
	cursor: pointer;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.email.error {
	border: 1px solid rgba(255, 83, 100, 1) !important;
}

.error-text {
	position: absolute;
	right: 16px;
	bottom: -12px;
	display: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: rgba(255, 83, 100, 1);
	background-color: var(--color-bg);
	padding: 0 4px;
	z-index: 5;
}

.password {
	position: relative;
	z-index: 8;
}

.input-icon {
	position: absolute;
	left: 12px;
	bottom: 12px;
	width: 24px;
	height: 24px;
	z-index: 8;
}

.toggle-password {
	position: absolute;
	right: 12px;
	bottom: 12px;
	width: 24px;
	height: 24px;
	background: transparent;
	border: none;
	z-index: 8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-icon {
	width: 24px;
	height: 24px;
}

.password-hints {
	position: absolute;
	top: 18px;
	left: -8px;
	width: 358px;
	height: 194px;
	border: 1px solid #ffffff3d;
	border-radius: 16px;
	backdrop-filter: blur(24px);
	padding: 8px;
	z-index: 2;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}
@media screen and (min-width: 1024px) {
	.password-hints {
		width: 448px;
	}
}

.password-hints.active {
	display: flex;
}
.hint-list {
	border-radius: 12px;
	background: #ffffff1f;
	width: 100%;
}

.hint-item {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	padding: 8px;
}

.icon-valid {
	width: 18px;
	height: 18px;
}

.text-valid {
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #ffffffcc;
}

.modal-check {
	height: 76px;
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	margin: 0;
}

@media screen and (min-width: 1024px) {
	.modal-check {
		height: 60px;
	}
}

.modal-checkbox {
	appearance: none;

	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	border: 1px solid rgba(206, 209, 212, 1);
	flex-shrink: 0;
}

.modal-checkbox:checked {
	width: 18px;
	height: 18px;
}

.modal-checkbox:checked::before {
	content: "";
	background-image: url(../images/form/Checkbox.svg);
	background-size: cover;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 50%;
	left: 9px;
	transform: translate(-50%, -50%);
}

.modal-icon {
	bottom: 12px;
}

.modal-btn-wrap {
	width: 100%;
	height: 96px;
	padding: 16px 24px 16px 24px;
}

.modal-button {
	width: 100%;
	height: 56px;
	border-radius: 16px;
	border: 2px solid rgba(255, 255, 255, 0.48);
	background: var(--color-bg-btn);
	font-family: inherit;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	line-height: 22px;
	color: var(--color-tex);
}

#submitBtn.disabled {
	opacity: 0.6;
	pointer-events: none;
	cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff !important;
	background-color: rgba(12, 20, 40, 1) !important;
	box-shadow: 0 0 0px 1000px rgba(12, 20, 40, 1) inset !important;
}

#captcha-container {
	height: 0;
	overflow: hidden;
}

	.modal-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 342px;
		margin: 0 auto;
	}

	.modal-footer-title {
		font-weight: 400;
		font-style: Regular;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		color: var(--color-accent-text);
	}

	.modal-footer-text {
		font-weight: 400;
		font-style: Regular;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
	}

		.modal-footer-desk {
		display: none;
	}

@media screen and (min-width: 1024px) {
	.modal-footer {
		display: none;
	}
	.modal-footer-desk {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 700px;
		position: absolute;
		top: calc(50% + 320px); 
		left: 50%;
		transform: translateX(-50%);

		z-index: 100;
		text-align: center;
	}

	.modal-footer-desk-title {
		font-weight: 400;
		font-style: Regular;
		font-size: 32px;
		line-height: 40px;
		text-align: center;
		color: var(--color-accent-text);
	}

	.modal-footer-desk-text {
		font-weight: 400;
		font-style: Regular;
		font-size: 32px;
		line-height: 40px;
		text-align: center;
	}
}
