.chat {
	width: 100%;
	max-width: 1200px;
	padding-top: /* 30px */ 7.69vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (min-width: 1024px) {
	.chat {
		padding-top: /* 40px */ 2.64vw;

	}
}
@media screen and (min-width: 1512px) {
	.chat {
		padding-top: 40px;

	}
}

.chat-msg,
.tip {
	display:block;
	text-align: left;
	opacity: 0;
	transform: translateY(6px);
	padding: 14px;
	margin-bottom: 15px;
	border-radius: 65px;
	border: 1px solid rgba(110, 110, 110, 0.8);
	background: rgba(48, 48, 48, 1);
	color: var(--color-text);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 1.2;
	white-space: pre-wrap;
	word-break: break-word;
	max-width: 100%;
	width: fit-content;
	transition:
		opacity 0.3s ease,
		border-color 0.3s ease,
		transform 0.3s ease;
	position: relative;
	z-index: 5;
}
@media screen and (min-width: 1024px) {
	.chat-msg,
.tip {
	text-align: left;
	padding: 28px 35px 28px 35px;
	margin-bottom: 24px;
	font-size: 24px;
	border-radius: 65px;
}
}

.chat-msg.visible,
.tip.visible {
	opacity: 1;
	transform: translateY(0);
	border-color: rgba(255, 255, 255, 0.15);
}
.chat-msg::after,
.tip::after {
	content: none !important;
	display: none !important;
}

.chat-msg,
.tip {
	caret-color: transparent;
}
