.overlay {
	position: fixed;
	inset: 0;
	background-image: url(../images/body/BG_mob.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1000;
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	overflow: hidden;
}
@media screen and (min-width: 1024px) {
	.overlay {
		background-image: url(../images/body/BG_desk.webp);
		/* padding-top:60px; */
		padding-right: /* 156px */ 10.31vw;
		padding-left: /* 156px */ 10.31vw;
	}

	.wrapper {
		position: relative;
		width: 100%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
/* 	.overlay-logo {
		margin-bottom: 20px;
	} */
}
@media screen and (min-width: 1455px) {
	.wrapper {
		position: relative;
		width: 100%;
		max-width: 1200px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
	}
}
@media screen and (min-width: 1512px) {
	.overlay {
		padding-right: 156px;
		padding-left: 156px;
	}
}

.overlay.hidden {
	display: none;
}

.game-container {
	position: relative;
	width: 390px;
	height: 480px;
	background: var(--color-bg);
	border-radius: 20px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	z-index: 19;
}
@media screen and (min-width: 1024px) {
	.game-container {
		margin: 0;
		height: 645px;
	}
}

.game-iframe {
	position: absolute;
	top: 0;
	left: 50%;
	width: 390px;
	height: 480px;
	border: none;
	border-radius: 20px;
	transform-origin: top center;
	transform: translateX(-50%) scale(1);
	z-index: 20;
	overflow: hidden;
}

.game-iframe {
	width: 390px;
	height: 645px;
	border: none;
	border-radius: 20px;
}
.tips {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 390px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	z-index: 10;
	pointer-events: none;
	padding-left: 16px;
	padding-right: 16px;
}
@media screen and (min-width: 1024px) {
	.tips {
		position: relative;
		bottom: auto;
		left: auto;
		transform: none;
		width: 100%;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		z-index: 10;
		pointer-events: none;
	}
}
@media screen and (min-width: 1455px) {
	.tips {
		max-width: 750px;
	}
}

.tip {
	opacity: 0;
	transform: translateY(8px);
	filter: blur(0);
	transition:
		opacity 0.3s ease,
		transform 0.3s ease,
		filter 0.35s ease;

	will-change: opacity, transform;
	margin-bottom: 16px;
}
@media screen and (min-width: 1750px) {
	.tip {
		margin-bottom: 24px;
	}
}

.tip.visible {
	opacity: 1;
	transform: translateY(0);
}
.tip-exit {
	opacity: 0;
	transform: translateY(-8px);
}
.tip-light {
	font-weight: 400;
	color: var(--color-text);
}

.tip-accent {
	font-weight: 700;
	color: var(--color-accent-text);
}

.tip-bold {
	font-weight: 700;
	color: var(--color-text);
}
.tip span {
	display: inline;
}
.tip.under-game {
	opacity: 0.05;
	filter: blur(8px);
}
